
.counter {
	border: solid black 2px;
	width: 250px;
	text-align: center;

	margin: 25px auto auto;
}

.countButton {
	margin: 5px 5px 5px 5px;
}

.addButton {
	margin-left: 100px;
	margin-top: 25px;
}

